# editorconfig.org
# created in IntelliJ IDEA 2016.3

root=true

[*]
charset=utf-8
end_of_line=lf
insert_final_newline=true
indent_style=space
indent_size=2
trim_trailing_white_space=true


[{.babelrc,.stylelintrc,*.bowerrc,*.jsb3,*.jsb2,*.json,*.eslintrc}]
indent_style=space
indent_size=2

[{*.applejs,*.js}]
indent_style=space
indent_size=4

